.national-situation {
    padding: 18px 0;
    background-color: rgba(map-get($map: $colors, $key: oc-red), .1);
    
    &__title {
        color: map-get($map: $colors, $key: oc-dark-red);
        font-family: 'AvenirBlack';
        font-weight: 900;
        font-size: 24px;
    }
    
    &__articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-gap: 14px;
        margin-top: 34px;
    }
    
    @media (min-width: 768px) {
        padding: 50px 0;

        &__title {
            font-size: 38px;
        }
    }
    
    @media (min-width: 1080px) {
        &__articles {
            grid-template-columns: repeat(4, 1fr );
            grid-gap: 30px;
        }
    }

    @media (min-width: 1080px) {
        &__articles {
            grid-gap: 40px;
        }
    }
}

.what-find {
    padding: 50px 0 0;
    
    h2 {
        font-size: 20px;
        font-weight: 800;
        font-family: 'AvenirHeavy';
    }
    
    span {
        font-size: 14px;
        font-weight: 800;
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }
    
    li::before {
        content: "•";
        padding-right: 5px;
        font-size: 20px;
    }

    img, picture {
        width: 100%;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 35px;
            font-weight: 800;
        }

        h2 {
            font-size: 33px;
        }

        p, li, span, h3 {
            font-size: 22px;
            font-family: 'AvenirLight';
        }

        li {
            line-height: 45px;
        }

        .button {
            width: 160px;
        }
    }
}

.emergency-map {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 10px;

    span {
        color: map-get($map: $colors, $key: oc-orange);
    }
    
    li::before {
        color: map-get($map: $colors, $key: oc-orange);
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        p {
            padding-right: 80px;
        }

        span {
            font-size: 22px;
            padding-right: 120px;
        }
    }
}

.graphic-information {
    padding-top: 30px;
    background-color: rgba(map-get($map: $colors, $key: oc-light-green), .1);

    span {
        color: map-get($map: $colors, $key: oc-dark-green);
    }

    h3 {
        color: map-get($map: $colors, $key: oc-black);
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
    }

    ul {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
    }
    
    li::before {
        color: map-get($map: $colors, $key: oc-drak-green);
    }

    &__image {
        margin-top: -50px;
        width: 100%;
    }

    picture {
        width: 70%;
    }

    @media (min-width: 768px) {
        padding-top: 108px;

        .main-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr );

        }

        h3 {
            font-size: 22px;
            line-height: 45px;
        }

        ul {
            column-count: 1;
            column-gap: 0px;
        }

        picture {
            width: 100%;
        }

        &__image {
            margin-top: 0;
            width: 100%;
        }

        li::before {
            font-size: 22px;
        }
    }
}

.about-covid {
    &__articles {
        display: grid;
    }
    
    @media (min-width: 768px) {
        h1 {
            font-size: 36px;
        }

        &__articles {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}